
<div class="container-fluid">
    <h1>Register</h1>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div ng-show="model.passworderror" class="alert alert-danger">
        {{model.passworderror}}
    </div>
    <div ng-show="registerform.$invalid && registerform.$submitted" class="alert alert-danger">
        Please fix below errors
        <ul>
            <li ng-show="registerform.username.$invalid && registerform.$submitted">Username is required</li>
            <li ng-show="registerform.password.$invalid && registerform.$submitted">Password is required</li>
            <li ng-show="registerform.password2.$invalid && registerform.$submitted">Verify Password is required</li>
        </ul>
    </div>
    <form name="registerform" novalidate>
        <input class="form-control"
               name="username"
               ng-model="model.user.username"
               placeholder="username" required/>
        <div class="error" ng-show="registerform.username.$invalid && registerform.$submitted">
            <li>Username is required</li>
        </div>

        <input class="form-control"
               placeholder="password"
               name="password"
               ng-model="model.user.password"
               type="password" required/>
        <div class="error" ng-show="registerform.password.$invalid && registerform.$submitted">
            <li>Password is required</li>
        </div>

        <input class="form-control"
               name="password2"
               placeholder="verify password"
               ng-model="model.user.password2"
               type="password" required/>
        <div class="error" ng-show="registerform.password2.$invalid && registerform.$submitted">
            <li>Please enter password again</li>
        </div>

        <button type="submit" class="btn btn-primary btn-block" ng-click="model.register(model.user)">
            Register
        </button>
    </form>

    <a class="btn btn-danger btn-block" href="#/login">
        Cancel
    </a>
</div>

