
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Pages
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="page-list.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Edit Page
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">


    <div class="col-sm-4 pull-left hidden-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Blog Post
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Blogs
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Home
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    About
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.html">
                    Contact Us
                </a>
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

        </ul>
    </div>

    <div class="col-sm-8">

        <label for="page-edit-page-name">Name</label>
        <input class="form-control" id="page-edit-page-name" value="Blog Post" type="text"/>

        <label for="page-edit-page-title">Title</label>
        <input class="form-control" placeholder="Page Title" id="page-edit-page-title" type="text"></input>

        <a class="btn btn-danger btn-block" href="page-list.html">
            Delete
        </a>

    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
